<button mat-icon-button [matMenuTriggerFor]="userMenu" *ngIf="currentUser">
  <div class="user-avatar">
    <img *ngIf="currentUser.avatar" [src]="currentUser.avatar" [alt]="currentUser.name" class="avatar-image">
    <mat-icon *ngIf="!currentUser||!currentUser.avatar">account_circle</mat-icon>
  </div>
</button>

<mat-menu #userMenu="matMenu" class="user-menu">
  <div class="user-info" mat-menu-item disabled *ngIf="currentUser">
    <div class="user-details">
      <div class="user-name">{{ currentUser?.name }}</div>
      <div class="user-email">{{ currentUser?.email }}</div>
      <div class="user-role">
        <mat-icon class="role-icon" [style.color]="getRoleColor(currentUser.role)">
          {{ getRoleIcon(currentUser?.role) }}
        </mat-icon>
        <span [style.color]="getRoleColor(currentUser?.role)">
          {{ currentUser?.role }}
        </span>
      </div>
    </div>
  </div>

  <mat-divider *ngIf="currentUser"></mat-divider>

  <button mat-menu-item *ngIf="currentUser">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </button>

  <button mat-menu-item *ngIf="currentUser">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>

  <mat-divider *ngIf="currentUser"></mat-divider>

  <button mat-menu-item (click)="logout()" *ngIf="currentUser">
    <mat-icon>logout</mat-icon>
    <span>Sign Out</span>
  </button>
</mat-menu>